body {
	font-family: Trebuchet MS;
	background-color: #000000;
}
.redstuff {
	color: red
}
.orangestuff {
	color: orange
}
.yellowstuff {
	color: yellow
}
footer {
	margin-left: 5%;
	margin-right: 5%;
	color: white;
}
#copyrightinfo {
	font-family: Times New Roman;
}
img {
	padding-top: 15px;
	padding-bottom: 15px;
	display: block;
	margin: auto;
	width: 100%;
}

p {
	margin-top: 15px;
	color: white;
	margin-left: 5%;
	margin-right: 5%;
	}
h1 {
	text-align: center;
	color: white;

	}
h3 {	
	color: white;
	margin-top: 35px;
	margin-left: 12%;

	}
